In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re
import warnings

# Configuraci√≥n para optimizar visualizaci√≥n
plt.style.use('default')
sns.set_palette("husl")
warnings.filterwarnings('ignore')

# Configuraci√≥n de pandas para mejor visualizaci√≥n
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)
pd.set_option('display.max_colwidth', 100)
pd.set_option('display.max_rows', None)


print("‚úÖ Librer√≠as importadas exitosamente")
print("‚úÖ Configuraci√≥n de visualizaci√≥n establecida")

‚úÖ Librer√≠as importadas exitosamente
‚úÖ Configuraci√≥n de visualizaci√≥n establecida

In [2]:
# ===============================================================
# CARGA DEL DATASET INICIAL
# ===============================================================

# Ruta al archivo CSV con datos de propiedades colombianas
csv_path = "data/properties_gold.csv"

# Cargar dataset completo
df = pd.read_csv(csv_path)

# Informaci√≥n b√°sica del dataset
print("üè† DATASET CARGADO: Propiedades Inmobiliarias Colombia")
print("=" * 55)
print(f"üìä Dimensiones: {df.shape}")
print(f"üìã Registros: {df.shape[0]:,}")
print(f"üìã Variables: {df.shape[1]}")
print(f"üíæ Tama√±o en memoria: {df.memory_usage(deep=True).sum() / 1024**2:.1f} MB")

# Vista previa de primeras filas
print(f"\nüìã PRIMERAS 3 FILAS:")
df.head(3)

üè† DATASET CARGADO: Propiedades Inmobiliarias Colombia
=======================================================
üìä Dimensiones: (140435, 16)
üìã Registros: 140,435
üìã Variables: 16
üíæ Tama√±o en memoria: 161.0 MB

üìã PRIMERAS 3 FILAS:

     ad_type  start_date    end_date  created_on       lat        lon         price                                           title                                                                                          description property_type operation_type  surface_total_final  bedrooms_final  bathrooms_final  l3_final l4_final
0  Propiedad  2020-10-07  2020-10-08  2020-10-07       NaN        NaN  4.000000e+09               Casa en Venta Ubicado en MEDELLIN  Codigo Inmueble 6348 La conocer√°s y no te querr√°s ir C√≥moda casa con 7 habitaciones, 8 ba√±os com...          Casa          Venta                  NaN             7.0              8.0  Medell√≠n      NaN
1  Propiedad  2020-10-07  9999-12-31  2020-10-07  6.151412 -75.379867  3.800000e+08        Venta de casa en Santa Clara 1 Rionegro   Rionegro\nUbicaci√≥n Santa Clara 1\nLote 76, 5 metros\n√Årea construcci√≥n 172 metros\nBa√±os 3\nPar...          Casa          Venta                  NaN             4.0              3.0  Rionegro      NaN
2  Propiedad  2020-10-07  2021-01-19  2020-10-07  6.129877 -75.377835  3.900000e+08  VENTA CASA INDEPENDIENTE EN RIONEGRO ANTIOQUIA  4 alcobas, 3 ba√±os, estudio, cocina integral,¬† sala comedor, patio , garaje cubierto¬†\n\nUbicada...          Casa          Venta                  NaN             4.0              3.0  Rionegro      NaN

## Revisemos el rango de a√±os de los datos

In [3]:
# Replace 'date_column' with your actual column name
df['created_on'] = pd.to_datetime(df['created_on'], errors='coerce')
years = df['created_on'].dt.year

min_year = years.min()
max_year = years.max()

print(f"Year range: {min_year} - {max_year}")

Year range: 2020 - 2021

In [4]:
from sqlalchemy import create_engine

# Connection details
user = "andres"
password = "Pass123"
host = "127.0.0.1"
port = "5433"
database = "testdb"

# Create SQLAlchemy engine
engine = create_engine(f"postgresql+psycopg2://{user}:{password}@{host}:{port}/{database}")

# Test the connection by running a simple query
test_con = pd.read_sql("SELECT version();", engine)
print(test_con)

                                                                                               version
0  PostgreSQL 14.19 (Ubuntu 14.19-0ubuntu0.22.04.1) on x86_64-pc-linux-gnu, compiled by gcc (Ubuntu...

In [5]:
# Save DataFrame to SQL table named 'my_table'
df.to_sql('properties', engine, if_exists='replace', index=False)

435

In [6]:
# Query all rows from the 'properties' table
result = pd.read_sql("SELECT * FROM properties WHERE surface_total_final is not null and " \
"l3_final = 'Medell√≠n'", engine)

# Show the first rows
print(result.head())

     ad_type  start_date    end_date created_on       lat        lon        price                                                                                     title                                                                                          description property_type operation_type  surface_total_final  bedrooms_final  bathrooms_final  l3_final         l4_final
0  Propiedad  2020-10-07  2021-05-01 2020-10-07  6.297802 -75.577835  310000000.0                                                               Venta de casa en Florencia   Venta de Casa en Florencia Medellin\n\nLa casa tiene 5 habitaciones\n2 Ba√±os uno con ba√±era¬†\nBi...          Casa          Venta                192.0             5.0              2.0  Medell√≠n  Doce de Octubre
1  Propiedad  2020-10-07  2021-01-05 2020-10-07  5.871480 -75.561657  190000000.0                                     Vendo Casa en Santa B√°rbara sector Alto de las Guacas  Vendo Casa para habitaci√≥n, Descanso o Construcci√≥n, √°rea de 150m2\nFrente de 7.45mts y fondo de...          Casa          Venta                150.0             1.0              1.0  Medell√≠n             None
2  Propiedad  2020-10-07  2020-12-08 2020-10-07  6.485702 -75.393831  350000000.0            Te vendo esta casa de primer piso con s√≥tano y dos apartamentos en Don Mat√≠as.  Amig@, educador@, familia.\nVendo casa de primer piso para hacer edificio en Don Mat√≠as. \nTe ve...          Casa          Venta                130.0             NaN              1.0  Medell√≠n             None
3  Propiedad  2020-10-07  2020-10-08 2020-10-07       NaN        NaN  750000000.0                                                         Casa en Venta Ubicado en MEDELLIN  Codigo Inmueble 4120 CASA CON 5 ALCOBAS, SALA COMEDOR, GARAJE, HALL, COCINA SENCILLA, 6 BA√ëOS, Z...          Casa          Venta                192.0             5.0              6.0  Medell√≠n             None
4  Propiedad  2020-10-07  2020-10-30 2020-10-07  6.307757 -75.560560  172000000.0  Vendo casa en las Brisas 3er piso remodelada parqueo moto en antejardin a bordo de calle  Barrio las Brisas Medell√≠n Antioquia\nCasa tercer piso\n72 m2 aproximadamente\n3 alcobas con clo...          Casa          Venta                 72.0             3.0              1.0  Medell√≠n         Castilla

In [7]:
# Query all rows from the 'properties' table
result = pd.read_sql("SELECT DISTINCT (l3_final) as barrio from properties ORDER BY barrio", engine)


print(result)

                       barrio
0                   Abejorral
1                  Alejandr√≠a
2                      Amalfi
3                       Andes
4                    Apartad√≥
5                     Barbosa
6                       Bello
7                     Betania
8                      Caldas
9                      Carepa
10                   Caucasia
11                  Chigorod√≥
12             Ciudad Bol√≠var
13                    Cocorn√°
14                 Concepci√≥n
15                  Concordia
16                 Copacabana
17                    Eb√©jico
18       El Carmen de Viboral
19                   Envigado
20                   Fredonia
21                    Giraldo
22                  Girardota
23                     Guarne
24                    Guatap√©
25                   Hispania
26                     Itagui
27                     Jard√≠n
28                     Jeric√≥
29                    La Ceja
30                La Estrella
31                 La Pintada
32                   La Uni√≥n
33                  Marinilla
34                   Medell√≠n
35                    Necocl√≠
36                      Olaya
37                      Pe√±ol
38             Puerto Triunfo
39                   Remedios
40                     Retiro
41                   Rionegro
42                   Sabaneta
43              San Francisco
44               San Jer√≥nimo
45  San Pedro de los Milagros
46                 San Rafael
47                  San Roque
48                San Vicente
49       Santaf√© de Antioquia
50                    Segovia
51                   Sopetr√°n
52                   Titirib√≠
53                      Turbo
54                      Urrao
55                    Venecia
56                    Yarumal
57                       None

In [8]:
query = """
SELECT l4_final, COUNT(*) as count
FROM properties
WHERE created_on IS NOT NULL
  AND price IS NOT NULL
  AND surface_total_final IS NOT NULL
  AND bedrooms_final IS NOT NULL
  AND bathrooms_final IS NOT NULL
  AND l3_final IS NOT NULL
  AND l4_final IS NOT NULL
GROUP BY l4_final
ORDER BY count DESC
"""
result = pd.read_sql(query, engine)
print(result)

                l4_final  count
0             El Poblado   4082
1               Laureles   3072
2                  Bel√©n   2807
3             La Am√©rica   1398
4                Robledo   1242
5                Caba√±as    870
6             Candelaria    720
7            La Estaci√≥n    638
8           Buenos Aires    561
9                 Niqu√≠a    451
10              Castilla    450
11               Mayorca    353
12           La Frontera    312
13         San Crist√≥bal    308
14              Guayabal    285
15             Altavista    266
16            San Javier    242
17              Ditaires    228
18              Aranjuez    221
19            Las Palmas    199
20            La Doctora    189
21              Jardines    187
22    Loma de Los Bernal    179
23       Doce de Octubre    174
24           Santa Mar√≠a    171
25         Villa Hermosa    158
26           Los Colores    144
27           Santa Elena    137
28  San Antonio de Prado    127
29              Manrique    123
30               Estadio    103
31                 Prado     89
32            La Tablaza     89
33             El Dorado     76
34           El Porvenir     65
35             Castropol     52
36            Santa Cruz     46
37              Calasanz     43
38               Machado     40
39             El Salado     37
40             Calatrava     31
41               Holanda     29
42           San Joaqu√≠n     26
43               Popular     24
44           San Gabriel     19
45             Primavera     18
46            Cristo Rey     15
47             San Pedro     14
48           La Floresta     10
49            San Andr√©s      8
50                Manila      7
51            Fontidue√±o      6
52                 Par√≠s      5
53              Pedregal      5
54           La Pilarica      4
55            Bellavista      4
56                F√°tima      4
57          La Milagrosa      4
58           Santa Luc√≠a      3
59              Palmitas      2
60             Los Lagos      2
61             Los Alpes      2
62         Alfonso L√≥pez      2
63       La Misericordia      2
64               Kennedy      2
65            Campo Amor      2
66            El Pedrero      2
67              Trinidad      2
68         Tricentenario      1
69            San Benito      1
70         La Candelaria      1
71             Versalles      1

In [9]:
query = """
SELECT COUNT(*) as count
FROM properties
WHERE created_on IS NOT NULL
  AND price IS NOT NULL
  AND surface_total_final IS NOT NULL
  AND bedrooms_final IS NOT NULL
  AND bathrooms_final IS NOT NULL
  AND l3_final IS NOT NULL
  AND l4_final IS NOT NULL

"""
result = pd.read_sql(query, engine)
print(result)

   count
0  21192

In [10]:
query = """
SELECT * FROM properties WHERE surface_total_final is not null
and l4_final = 'El Poblado'
"""

result = pd.read_sql(query, engine)
print(result.head(5))

     ad_type  start_date    end_date created_on       lat        lon        price                                                title                                                                                          description property_type operation_type  surface_total_final  bedrooms_final  bathrooms_final  l3_final    l4_final
0  Propiedad  2020-10-07  2020-10-09 2020-10-07  6.204000 -75.576000  500000000.0  Casa En Venta En Medellin El Poblado Cod. VRAS-3064  Apartamento en venta en el poblado cerca de la Cnica las Vegas, en un sector muy residencial y t...          Casa          Venta                147.0             3.0              3.0  Medell√≠n  El Poblado
1  Propiedad  2020-10-07  9999-12-31 2020-10-07  6.151414 -75.611236  280000000.0                VENTA APARTAMENTO SABANETA EL CARMELO  Venta de espectacular Apartamento en Sabaneta el Carmelo, 65 mts2, cocina integral, sala comedor...   Apartamento          Venta                 65.0             3.0              2.0  Sabaneta  El Poblado
2  Propiedad  2020-10-07  2020-11-14 2020-10-07  6.206817 -75.575166  510000000.0         Venta de apartamento Patio Bonito - Medell√≠n  Apartamento de 200m2 para la Venta en Patio Bonito, cuenta con cuatro alcobas, la principal con ...   Apartamento          Venta                200.0             4.0              NaN  Medell√≠n  El Poblado
3  Propiedad  2020-10-07  2021-01-13 2020-10-07  6.205942 -75.574003  530000000.0            Penthouse duplex en venta en Patio Bonito  En Venta espectacular Penthouse¬†duplex en Patio Bonito\n\n¬†\n\nCon una ubicaci√≥n inigualable, ce...   Apartamento          Venta                200.0             4.0              2.0  Medell√≠n  El Poblado
4  Propiedad  2020-10-07  2021-04-12 2020-10-07  6.218383 -75.575561  460000000.0            Apartamento en Venta   Calasanz, Medell√≠n  √Årea 100 m2, 3 alcobas, 2 ba√±os, sala comedor, cocina integral, zona deropas, 2 balcones, parqua...   Apartamento          Venta                100.0             3.0              2.0  Medell√≠n  El Poblado

In [11]:
query = """
SELECT * FROM properties WHERE price = 4.650000e+11

"""

result = pd.read_sql(query, engine)
print(result.head(5))

     ad_type  start_date    end_date created_on       lat        lon         price                                  title                                                                                          description property_type operation_type  surface_total_final  bedrooms_final  bathrooms_final  l3_final    l4_final
0  Propiedad  2021-02-24  2021-04-15 2021-02-24  6.243123 -75.611478  4.650000e+11  Venta de casa Sim√≥n Bol√≠var ,Medellin  Se vende casa en Sim√≥n Bolivar ,¬†espacios amplios y ventilados ,excelente ubicacion y amplias ru...          Casa          Venta                168.0             4.0              2.0  Medell√≠n  La Am√©rica

In [12]:
SMLV_2020 = 877803
SMLV_2021 = 908526
SMLV_2025 = 1423500

ratio_20 = (SMLV_2025/SMLV_2020)
ratio_21 = (SMLV_2025/SMLV_2021)
print("ratio_20", ratio_20)
print("ratio_21", ratio_21)

print(500000000 * ratio_20)

ratio_20 1.6216622636286273
ratio_21 1.566823624200078
810831131.8143137

In [13]:
df[['created_on', 'lat', 'lon','price','surface_total_final', 'bedrooms_final', 'bathrooms_final', 'l3_final', 'l4_final']].head(2)

  created_on       lat        lon         price  surface_total_final  bedrooms_final  bathrooms_final  l3_final l4_final
0 2020-10-07       NaN        NaN  4.000000e+09                  NaN             7.0              8.0  Medell√≠n      NaN
1 2020-10-07  6.151412 -75.379867  3.800000e+08                  NaN             4.0              3.0  Rionegro      NaN